# TencentOS 3.1 Kickstart - pigsty-node3
install
text
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone Asia/Shanghai --utc
network --bootproto=dhcp --device=link --hostname=pigsty-node3 --activate
rootpw --plaintext Pigsty@2024
user --name=admin --password=Pigsty@2024 --plaintext --gecos=Admin --groups=wheel
services --enabled=sshd
firewall --disabled
selinux --permissive
bootloader --location=mbr
autopart --type=lvm
clearpart --all --initlabel

%packages --nobase
@core
openssh-server
openssh-clients
sudo
curl
wget
tar
python3
%end

%post --log=/root/ks-post.log
#!/bin/bash
echo '%wheel ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/wheel
sed -i 's/^#PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
sed -i 's/^PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
systemctl restart sshd
cp /etc/os-release /etc/os-release.bak
cat > /etc/os-release << 'OSEOF'
NAME="TencentOS Server"
VERSION="3.1 (EL8 Compatible)"
ID="rocky"
ID_LIKE="rhel centos fedora tencentos"
VERSION_ID="8.6"
PLATFORM_ID="platform:el8"
PRETTY_NAME="TencentOS Server 3.1 (EL8 Compatible)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o/rocky:rocky:8"
HOME_URL="https://tlinux.tencent.com/"
BUG_REPORT_URL="https://tlinux.tencent.com/"
ROCKY_SUPPORT_PRODUCT="Rocky Linux"
ROCKY_SUPPORT_PRODUCT_VERSION="8"
OSEOF
echo 'NODE_NAME=pigsty-node3' >> /etc/pigsty.conf
echo 'NODE_IP=192.168.1.13' >> /etc/pigsty.conf
echo 'NODE_ROLE=replica' >> /etc/pigsty.conf
echo 'Kickstart completed for pigsty-node3' >> /root/ks-post.log
%end

reboot
